.progress { 
  cursor: progress;
}        
body {
  background-color: lightgrey;
}
img {
  border: 10px solid rgb(70, 165, 219);
  border-radius: 30px 50px 30px 15px ;
}
h1,h2 {
  text-align: center;
}
h1,h2,h3 {
  font-family: "Brush Script MT", cursive;
}
p {
  font-family: Copperplate, Papyrus, cursive;
}
      